body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background: #f3f3f3;
    flex-direction: column;
    margin: 0;
}

.main {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px 30px;
    transition: transform 0.2s;
    width: 400px;
    text-align: center;
}

.logo-container {
    margin-bottom: 20px;
}

.logo-container img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}

h1 {
    color: #0047AB;
    margin-bottom: 10px;
}

h3 {
    color: #555;
    margin-bottom: 20px;
}

label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
    font-weight: bold;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #0047AB;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #003A8B;
}

.wrap {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
